/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 24px;
  font-family: 'Anton', sans-serif; }

.body {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  position: relative; }

.sidebar {
  flex: 1; }
  .sidebar__favor-list li {
    display: flex;
    padding: .5em;
    align-items: center; }

.content {
  flex: 5; }
  .content__settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em; }
  .content__title {
    font-size: 3em; }
  .content__view {
    font-size: 1.5em;
    cursor: pointer;
    margin: 0.2em;
    transition-duration: 0.4s; }
    .content__view:hover {
      background-color: #ededed; }

.favor {
  color: gold;
  font-size: 2em;
  cursor: pointer;
  height: fit-content;
  transition-duration: 0.4s;
  border-radius: 180px; }
  .favor:hover {
    background-color: #ededed;
    color: #000000; }

.remove {
  cursor: pointer; }

.active-view-type {
  background-color: #ededed;
  box-shadow: inset 0 0 3px 0px black; }

[data-view='galery'] {
  display: flex;
  flex-wrap: wrap; }
  [data-view='galery'] .film {
    flex: 1 0 30%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; }
    [data-view='galery'] .film__favor {
      position: absolute;
      left: 75%;
      top: 0;
      z-index: 1; }
    [data-view='galery'] .film__info {
      padding: 1em;
      align-items: center;
      flex-direction: column; }
    [data-view='galery'] .film__name {
      font-size: 1.2em; }
    [data-view='galery'] .film__description {
      display: none; }
    [data-view='galery'] .film__genres {
      display: none; }

[data-view='list'] .film__info {
  padding-left: 1em;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; }

[data-view='list'] .film__description {
  width: 30em;
  white-space: nowrap; }

[data-view='list'] .film__genres {
  display: flex;
  flex-wrap: wrap; }

.film {
  border: 1px solid #123456;
  display: flex;
  padding: .5em;
  align-items: center; }
  .film__img {
    overflow: hidden;
    min-width: 12em;
    max-width: 12em;
    min-height: 12em;
    max-height: 12em;
    border: 5px solid #ededed;
    border-radius: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .film__info {
    display: flex; }
  .film__name {
    font-size: 2em;
    font-style: italic; }
  .film__description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1em; }
  .film__genre {
    margin: .5em;
    padding: .5em;
    border-radius: 20px;
    background-color: gold;
    text-transform: capitalize; }
  .film__star {
    margin: .5em;
    padding: .5em;
    border-radius: 20px;
    background-color: #8aeefc; }

.modal-wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000091;
  z-index: 2;
  overflow: hidden; }

.modal-window {
  width: 80%;
  height: 80vh;
  margin: 10vh auto;
  background-color: white;
  display: flex;
  position: relative; }
  .modal-window__public {
    text-align: center; }
  .modal-window__details > * {
    padding: .6em; }
  .modal-window__close {
    position: absolute;
    top: .5em;
    right: .5em;
    color: black; }

@media only screen and (max-width: 1440px) {
  body {
    font-size: 20px; }
  [data-view='list'] .film__description {
    width: 100%;
    white-space: normal; } }

@media only screen and (max-width: 1000px) {
  body {
    font-size: 16px; }
  .body {
    flex-direction: column; } }

@media only screen and (max-width: 500px) {
  [data-view='list'] .film {
    flex-direction: column; }
  .modal-window {
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-y: scroll;
    margin: auto; } }
